@page
@{
    ViewData["Title"] = "Home page";
}

<h1>Index</h1>

<p>
    <a href="/Create">Create New</a>
</p>

<table class="table" id="carTable">
    <thead>
        <tr>
            <th>Short Name</th>
            <th>Purpose</th>
            <th>Vehicle Make</th>
            <th>License</th>
            <th>Tracker Device Id</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="carTableBody">
        <!-- Table body will be populated dynamically by JavaScript -->
    </tbody>
</table>

<script>
    async function fetchData() {
        const response = await fetch('https://localhost:44391/cars'); 
        const data = await response.json();
        return data;
    }

    async function fetchEnumNames() {
        const response = await fetch('https://localhost:44391/carPurposeEnumValues');
        const data = await response.json();
        return data;
    }

    async function updateTable() {
        const cars = await fetchData();
        const enumNames = await fetchEnumNames();
        const tbody = document.getElementById('carTableBody');

        tbody.innerHTML = '';

        cars.forEach(car => {
            const row = document.createElement('tr');
            row.innerHTML = `
                        <td>${car.shortName}</td>
                        <td>${enumNames[car.purpose]}</td>
                        <td>${car.vehicleMake}</td>
                        <td>${car.license}</td>
                        <td>${car.trackerDeviceId}</td>
                        <td>${car.description}</td>
                        <td> <a href="/Edit?id=${car.id}">Edit</a></td> <button onclick="deleteCar(${car.id})">Delete</button></td>
                    `;
            tbody.appendChild(row);
        });
    }

    window.onload = updateTable;
</script>

<script>
    async function deleteCar(id) {
        try {
            const response = await fetch(`https://localhost:44391/DeleteCar?id=${id}`, {
                method: 'DELETE'
            });
            if (response.ok) {
                console.log('Car deleted successfully');
            } else {
                console.error('Failed to delete car');
            }
        } catch (error) {
            console.error('Error:', error);
        }
        updateTable();
    }
</script>

<script>
    async function editCar(id) {
        const editUrl = `https://localhost:44391/Edit?id=${id}`;

        window.location.href = editUrl;
    }
</script>